<div class="container">
   {%if request.session.logged_id == 8%}


        <form action="view" method="post">
      {% csrf_token %}
                  <div class="divider-custom">
                        <input type="text" name="search" placeholder="Enter id oF User">
                        <button type="submit" class="btn btn-dark">Search experience By user id </button>
  
                  </div>
  
        </form>
          {% endif %}

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
          <th scope="col">Action</th>
      </tr>
    </thead>
  
  {%for ex in experiences%}
    <tbody>
  
  
          <tr>
              <th scope="row">{{ex.id}}</th>
  
              <td>{{ex.title}}</td>
              <td>{{ex.desc}}</td>
  
  
              <td>
                  <a href="edit/{{ex.id}}">Edit</a><span>|</span>
                  <a href="delete/{{ex.id}}">Delete</a>
              </td>
  
  
          </tr>
  
    </tbody>
  
  {%endfor%}</table>
  
  <a class="btn btn-primary" href="insert" role="button">Insert new experience</a>
  
  
              </div>
  
  