<div class="container">

   {%if request.session.logged_id == 8%}

        <form action="view" method="post">
      {% csrf_token %}

                  <div class="divider-custom">
                        <input type="text" name="search" placeholder="Enter id oF User">
                  <button type="submit" class="btn btn-dark">Search conact By user id </button>
  
                    </div>
        </form>
                    {% endif %}

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Icon</th>
        <th scope="col">Value</th>
          <th scope="col">Action</th>
      </tr>
    </thead>
  
  {%for con in contacts%}
    <tbody>
  
  
          <tr>
              <th scope="row">{{con.id}}</th>
  
              <td>{{con.icon}}</td>
              <td>{{con.value}}</td>
  
  
              <td>
                  <a href="edit/{{con.id}}">Edit</a><span>|</span>
                  <a href="delete/{{con.id}}">Delete</a>
              </td>
  
  
          </tr>
  
    </tbody>
  
  {%endfor%}</table>
  
  <a class="btn btn-primary" href="insert" role="button">Insert new contact</a>
  
  
              </div>
  
  